{{ define "main" }}
<div class="main-title">
  <h1 class="main-title__primary">{{ .Title }}</h1>
</div>
<article class="hentry">
  <div class="hentry__content">
    {{ .Content }}
  </div>
  {{ if .Pages }}
  <div class="section-posts">
    {{ range .Pages }}
    {{- $href := .RelPermalink }}
    {{- $title := .Title }}
    {{- $desc := "" }}
    {{- if .Params.description }}
      {{- $desc = .Params.description }}
    {{- else }}
      {{- $summary := .Summary | plainify | truncate 120 }}
      {{- if gt (len (trim $summary " \n\r\t")) 0 }}
        {{- $desc = $summary }}
      {{- end }}
    {{- end }}
    <div class="section-post-item">
      {{- with .Params.thumbnail }}
      <a class="section-post__thumbnail" href="{{ $href }}">
        <img src="{{ . }}" alt="{{ $title }}" loading="lazy">
      </a>
      {{- end }}
      <h3 class="section-post__title"><a href="{{ $href }}">{{ $title }}</a></h3>
      {{- if $desc }}
      <p class="section-post__excerpt">{{ $desc }}</p>
      {{- end }}
      <a class="read-more" href="{{ .RelPermalink }}">Devamını oku</a>
    </div>
    {{ end }}
  </div>
  {{ end }}
</article>
{{ end }}
