{{ define "main" }}
<div class="main-title">
  <h1 class="main-title__primary">{{ .Title }}</h1>
</div>
<div>
  <article class="hentry">
    {{ .Content }}
    <div class="section-posts">
      {{ range where site.RegularPages "Section" "sorular" }}
      <div class="section-post-item">
        <h3 class="section-post__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <p class="section-post__excerpt">{{ .Summary | plainify | truncate 120 }}</p>
        <a class="read-more" href="{{ .RelPermalink }}">Devamını oku</a>
      </div>
      {{ end }}
    </div>
  </article>
</div>
{{ end }}
