<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Montserrat:400,700&subset=latin">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="/images/favicon-192x192.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="/images/favicon-180x180.png">
