{{- $paginator := .Paginate .Pages 9 }}
<div class="row post-grid">
  {{- range $paginator.Pages }}
  {{- $href := .RelPermalink }}
  {{- $title := .Title }}
  {{- $desc := "" }}
  {{- if .Params.description }}
    {{- $desc = .Params.description }}
  {{- else }}
    {{- $summary := .Summary | plainify | truncate 120 }}
    {{- if gt (len (trim $summary " \n\r\t")) 0 }}
      {{- $desc = $summary }}
    {{- end }}
  {{- end }}
  <div class="col-xs-12 col-md-4">
    <div class="latest-post">
      <a class="latest-post__thumbnail" href="{{ $href }}">
        {{- if .Params.thumbnail }}
        <img width="320" height="180" src="{{ .Params.thumbnail }}" alt="{{ $title }}" loading="lazy">
        {{- else }}
        <div class="latest-post__placeholder"><i class="fa fa-newspaper-o"></i></div>
        {{- end }}
      </a>
      <h4 class="latest-post__title"><a href="{{ $href }}">{{ $title }}</a></h4>
      {{- if $desc }}
      <p class="latest-post__excerpt">{{ $desc }}</p>
      {{- end }}
      <a class="read-more" href="{{ $href }}">Devamını oku</a>
    </div>
  </div>
  {{- end }}
</div>
{{- template "_internal/pagination.html" . }}
