{{ define "main" }}
<div class="main-title">
  <h2 class="main-title__primary">{{ .Title }}</h2>
</div>
<article class="post-inner clearfix hentry">
  {{- with .Params.thumbnail }}
  <img class="img-responsive" src="{{ . }}" alt="{{ $.Title }}" style="max-width:100%;height:auto;margin-bottom:20px;">
  {{- end }}
  {{- if .Date }}
  <div class="meta-data">
    <time class="meta-data__date">{{ .Date.Format "2 January 2006" }}</time>
  </div>
  {{- end }}
  <div class="hentry__content">
    {{ .Content }}
  </div>
</article>
{{ end }}
